.hiddenTitle {
  display: none;
  height: 0;
  opacity: 0;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 48px auto auto;
  padding: 0 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  position: absolute;
}

.header a {
  color: #ffffff;
}

.headerMenu {
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 32px;
  justify-content: start;
  padding: 0 40px;
  align-self: center;
}

.menuRight {
  padding-right: 32px;
  justify-self: flex-end;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 22px;
}

@media screen and (max-width: 420px) {
  .header {
    grid-template-columns: auto 0 auto;
    padding: 0 16px;
  }
  .headerMenu {
    display: none;
  }
  .menuRight {
    padding: 0;
    grid-template-columns: auto 0;
    gap: 0;
  }
  .menuRight a {
    display: none;
  }
}
