.container {
  width: 1184px;
  margin: 0 auto;
}

.backgroundSection {
  width: 100%;
  background-color: #f2f2f2;
}

.divider {
  margin: 0 auto;
  content: "";
  width: 784px;
  height: 0;
  border: 2px solid #dfdfdf;
}

.hiddenTitle {
  display: none;
  height: 0;
  opacity: 0;
}

/* General styles */
.h2M28 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #3d3d3d;
}

.h3M22 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #3d3d3d;
}

.bodyLargeR18 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.bodyMediumR16 {
  font-family: Inter;
  font-size: 16px;
  line-height: 28px;
  color: #4a4a4a;
}

.linkM16 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #5e20a4;
}

/* Intro */
.intro {
  height: 616px;
  width: 100%;
  background: url("./assets/background-intro.png"),
    linear-gradient(314.72deg, #c86dd7 -1.5%, #7e49c3 39.43%, #5912ac 86.02%),
    no-repeat;
}

.introContent {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.introTitle {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 48px;
  max-width: 490px;
  margin: 200px 0 24px 0;
}

.playButton {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.playButton img {
  margin-right: 16px;
  cursor: pointer;
}

.playButton span {
  color: #ffffff;
  cursor: pointer;
}

.bannerImage {
  margin: 170px 100px 0 0;
  justify-self: center;
}

/* Avaliable Profile */
.avaliableProfile {
  width: 100%;
  height: 112px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #ffffff;
  border: 1px solid #dfdfdf;
}

.avaliableProfile img {
  margin-right: 32px;
}

.linkToProfile {
  margin-right: 2px;
}

.avaliableSchedules {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

/* Exhibition (Section 1) */
.exhibitionSection {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 100px;
}

.exhibitionSectionTitle {
  max-width: 428px;
  margin: 120px 0 40px 0;
}

.exhibitionSectionText {
  max-width: 444px;
  margin-bottom: 40px;
}

.exhibitionSectionImage {
  margin: 120px 0;
}

/* Email form (Section 2) */
.emailFormSection {
  padding: 64px 100px;
  align-items: center;
  text-align: center;
}

.emailFormSectionText {
  margin-top: 16px;
  margin-bottom: 74px;
  color: #3d3d3d;
}

/* Shared Payments (Section 3) */
.sharedPayments {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 96px 100px;
}

.sharedPayContent {
  align-self: flex-start;
}

.sharedPayTitle {
  margin-bottom: 40px;
}

.sharedPayText {
  margin-bottom: 40px;
}

/* Long Term (Section 4) */
.longTerm {
  padding: 96px 100px 104px 100px;
  text-align: center;
}

.longTermText {
  margin: 40px 100px;
}

.billingHisotyImg {
  margin-top: 64px;
}

/* Share Diary (Section 5) */
.shareDiary {
  padding: 96px 200px 120px 200px;
  justify-content: center;
  text-align: center;
}

.shareDiaryTitle {
  margin: 40px 0px;
}

@media screen and (max-width: 420px) {
  .container {
    padding: 0px 16px;
    width: 100%;
  }
  /* Intro */
  .intro {
    height: 540px;
    width: 100%;
    background: url("./assets/background-intro-mobile.png"),
      linear-gradient(314.72deg, #c86dd7 -1.5%, #7e49c3 39.43%, #5912ac 86.02%),
      no-repeat;
  }
  .introContent {
    display: flex;
    text-align: center;
  }
  .introTitle {
    margin: 152px 28px 16px 28px;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0;
  }
  .introContent p {
    font-size: 16px;
    line-height: 28px;
  }
  .playButton {
    margin: 66px 0 78px 0;
  }
  .bannerImage {
    display: none;
  }
  /* Avaliable Profile */
  .avaliableProfile {
    height: 246px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-items: flex-start;
    justify-items: center;
  }
  .avaliableProfile img {
    margin: 32px 0 16px 0;
  }
  .linkToProfile {
    max-width: 212px;
    margin-right: 0;
  }
  .avaliableSchedules {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 32px;
  }
}
