.container {
  width: 1184px;
  margin: 0 auto;
}

.backgroundSection {
  width: 100%;
  background-color: #f2f2f2;
}

.divider {
  margin: 0 auto;
  content: "";
  width: 784px;
  height: 0;
  border: 2px solid #dfdfdf;
}

.intro {
  height: 616px;
  width: 100%;
  background: url("./assets/background-intro.png"),
    linear-gradient(314.72deg, #c86dd7 -1.5%, #7e49c3 39.43%, #5912ac 86.02%),
    no-repeat;
}

.introContent {
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: Inter;
  color: #ffffff;
}

.intro h1 {
  max-width: 490px;
  margin: 200px 0 24px 0;
}

.titleAndDescription p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.playButton {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.playButton img {
  margin-right: 16px;
  cursor: pointer;
}

.playButton span {
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: underline;
  cursor: pointer;
}

.bannerImage {
  margin: 170px 100px 0 0;
  justify-self: center;
}

.avaliableProfile {
  width: 100%;
  height: 112px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #ffffff;
  border: 1px solid #dfdfdf;
}

.avaliableProfile img {
  margin-right: 32px;
}

.linkToProfile {
  margin-right: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: underline;
  color: #5e20a4;
}

.avaliableSchedules {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.exhibitionSection {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 100px;
}

.exhibitionSectionTitle {
  max-width: 428px;
  margin: 120px 0 40px 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #3d3d3d;
}

.exhibitionSectionText {
  max-width: 444px;
  margin-bottom: 40px;
  font-family: Inter;
  font-size: 16px;
  line-height: 28px;
  color: #4a4a4a;
}

.inTextLink {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #5e20a4;
  cursor: pointer;
}

.getStartedLink {
  margin-bottom: 120px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #5e20a4;
  cursor: pointer;
}

.exhibitionSectionImage {
  margin: 120px 0;
}

.emailFormSection {
  padding: 64px 100px;
  align-items: center;
  text-align: center;
}

.emailFormSectionTitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #3d3d3d;
}

.emailFormSectionText {
  margin-top: 16px;
  margin-bottom: 74px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #3d3d3d;
}

.sharedPayments {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 96px 100px;
}

.sharedPayContent {
  align-self: flex-end;
}

.sharedPayTitle {
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 28px;
  align-items: center;
  color: #3d3d3d;
}

.sharedPayText {
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  color: #3d3d3d;
}

.sharedPaySpan {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #5e20a4;
  cursor: pointer;
}

.longTerm {
  padding: 96px 100px 104px 100px;
  text-align: center;
}

.longTermTitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.longTermText {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #3d3d3d;
  margin: 40px 100px;
}

.longTermLink {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #5e20a4;
  cursor: pointer;
}

.billingHisotyImg {
  margin-top: 64px;
}

.shareDiary {
  padding: 96px 200px 120px 200px;
  display: flex;
  justify-content: center;
}
